$font-roboto: 'Roboto', sans-serif;
$font-yellowtail: 'Yellowtail', cursive;
$font-open_sans: 'OpenSans', sans-serif;
$colordark:#274C5B;
$colorlight:#7EB693;

// Переменные:
// Colors:
$compcolor: #274C5B;
$compcolor2: #7EB693;
$compcolor3: #FFF;
$color4: #F9F8F8;
$color5: #ABABAB;
$color6: #525C60;
$color7: #ECECEC;

// Шрифты:
$compfont: 'Roboto', sans-serif; 
$compfont2: 'Roboto-Bold';
$compfont3: 'Yellowtail-Regular';
$compfont4: 'Open Sans', sans-serif;