@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cormorant+Garamond:ital,wght@0,300;0,500;1,400&family=Dancing+Script&family=Jost:wght@400;600&family=Marck+Script&family=Open+Sans&family=Playfair+Display:ital@1&family=Roboto:wght@100;300;400;500&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cormorant+Garamond:ital,wght@0,300;0,500;1,400&family=Dancing+Script&family=Jost:wght@400;600&family=Marck+Script&family=Open+Sans&family=Playfair+Display:ital@1&family=Roboto:wght@100;300;400;500&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2? Family= Roboto:ital,wght@0,400;0,500;0,700;1,400 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cormorant+Garamond:ital,wght@0,300;0,500;1,400&family=Dancing+Script&family=Jost:wght@400;600&family=Marck+Script&family=Open+Sans&family=Playfair+Display:ital@1&family=Roboto:wght@100;300;400;500&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cormorant+Garamond:ital,wght@0,300;0,500;1,400&family=Dancing+Script&family=Jost:wght@400;600&family=Marck+Script&family=Open+Sans&family=Playfair+Display:ital@1&family=Roboto:wght@100;300;400;500&family=Yellowtail&display=swap");
h1 {
  font-size: 70px;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 50px;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 36px;
  font-family: "Yellowtail", cursive;
  color: #7EB693;
}

h4 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("assets\fontsRoboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("../fonts/Yellowtail-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 69px 162px 69px 162px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: bolder;
  color: #274C5B;
  display: flex;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 25px;
  padding-left: 170px;
}

.nav a {
  text-decoration: none;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.search {
  padding-left: 150px;
}

.banner {
  background-color: #F1EFF0;
  background-image: url(/assets/images/bannerback.png);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat 2, 1fr;
  grid-template-rows: 1fr;
}

.slogan {
  width: 800px;
  display: grid;
  grid-column: 1/2;
  grid-template-rows: repeat 3, 1fr;
  align-content: center;
  padding-left: 260px;
}

.bannerpic {
  display: grid;
  grid-column: 2/3;
}

.knop {
  padding-top: 23px;
}

.centralpics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 150px;
}

.mission {
  display: grid;
  grid-template-columns: repeat 2, 1fr;
  grid-template-rows: 1fr;
  background-color: #F9F8F8;
  margin-top: 190px;
}

.description {
  width: 705px;
  display: grid;
  grid-column: 2/3;
  grid-template-rows: repeat 3, 1fr;
  align-content: center;
  gap: 15px;
}

.cont-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  display: flex;
  padding-top: 10px;
}

.organicpromo {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: repeat 3, 1fr;
}

.promotext {
  display: grid;
  grid-column: 2/3;
  width: 444px;
}

.certif {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: repeat 3, 1fr;
}

/* Footer Styles */
.footer {
  margin-top: 110px;
}
.footer__title {
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
}
.footer .container {
  display: inline-flex;
  width: 100vw;
  gap: 10rem;
}
.footer .utility-pages {
  order: 3;
}
.footer .utility-pages ul li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #274C5B;
  padding-top: 2rem;
}
.footer .utility-pages ul li:last-child {
  padding-bottom: 5rem;
}
.footer .utility-pages ul li a {
  text-decoration: none;
}
.footer .utility-pages ul li a:hover {
  color: #191b1c;
}
.footer .about {
  order: 2;
  text-align: center;
}
.footer .about .logo {
  padding-left: 9rem;
}
.footer .about .follow {
  display: flex;
  padding-top: 3rem;
  gap: 1rem;
  padding-left: 7rem;
}
.footer .about.follow img {
  width: 20px;
  height: 20px;
}
.footer .contact-us {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #274C5B;
  text-align: end;
  display: block;
  padding-left: 15rem;
}
.footer .contact-us a {
  text-decoration: none;
  color: inherit;
}
.footer .contact-us a:hover {
  color: #191b1c;
}
.footer .contact-us .mail {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.footer .contact-us .phone {
  padding-bottom: 2rem;
}

.legal {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
  font-size: 18px;
  border-top: 2px solid rgb(210, 206, 206);
  padding-top: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 69px 162px 69px 162px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: bolder;
  color: #274C5B;
  display: flex;
  gap: 1rem;
}

.logopic {
  width: 36px;
}

.nav {
  display: flex;
  gap: 25px;
  padding-left: 170px;
}

.nav a {
  text-decoration: none;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.search {
  padding-left: 150px;
}

.searchfield {
  width: 375px;
}

.cartpic {
  width: 160px;
}

.banner {
  background-color: #F1EFF0;
  background-image: url(/assets/images/bannerback.png);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat 2, 1fr;
  grid-template-rows: 1fr;
}

.slogan {
  width: 800px;
  display: grid;
  grid-column: 1/2;
  grid-template-rows: repeat 3, 1fr;
  align-content: center;
  padding-left: 260px;
}

.bannerpic {
  display: grid;
  grid-column: 2/3;
}

.knop {
  padding-top: 23px;
}

.btnpic {
  width: 220px;
}

.centralpics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 150px;
}

.mission {
  display: grid;
  grid-template-columns: repeat 2, 1fr;
  grid-template-rows: 1fr;
  background-color: #F9F8F8;
  margin-top: 190px;
}

.description {
  width: 705px;
  display: grid;
  grid-column: 2/3;
  grid-template-rows: repeat 3, 1fr;
  align-content: center;
  gap: 15px;
}

.cont-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  display: flex;
  padding-top: 10px;
}

.organicpromo {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: repeat 3, 1fr;
}

.promotext {
  display: grid;
  grid-column: 2/3;
  width: 444px;
}

.promoicon {
  width: 101px;
}

.certif {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: repeat 3, 1fr;
}

/* Footer Styles */
.footer {
  margin-top: 110px;
}
.footer__title {
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
}
.footer .container {
  display: inline-flex;
  width: 100vw;
  gap: 10rem;
}
.footer .utility-pages {
  order: 3;
}
.footer .utility-pages ul li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #274C5B;
  padding-top: 2rem;
}
.footer .utility-pages ul li:last-child {
  padding-bottom: 5rem;
}
.footer .utility-pages ul li a {
  text-decoration: none;
}
.footer .utility-pages ul li a:hover {
  color: #191b1c;
}
.footer .about {
  order: 2;
  text-align: center;
}
.footer .about .logo {
  padding-left: 9rem;
}
.footer .about .follow {
  display: flex;
  padding-top: 3rem;
  gap: 1rem;
  padding-left: 7rem;
}
.footer .about.follow img {
  width: 20px;
  height: 20px;
}
.footer .contact-us {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #274C5B;
  text-align: end;
  display: block;
  padding-left: 15rem;
}
.footer .contact-us a {
  text-decoration: none;
  color: inherit;
}
.footer .contact-us a:hover {
  color: #191b1c;
}
.footer .contact-us .mail {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.footer .contact-us .phone {
  padding-bottom: 2rem;
}

.legal {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
  font-size: 18px;
  border-top: 2px solid rgb(210, 206, 206);
  padding-top: 1rem;
}/*# sourceMappingURL=style.css.map */