@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cormorant+Garamond:ital,wght@0,300;0,500;1,400&family=Dancing+Script&family=Jost:wght@400;600&family=Marck+Script&family=Open+Sans&family=Playfair+Display:ital@1&family=Roboto:wght@100;300;400;500&family=Yellowtail&display=swap');@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cormorant+Garamond:ital,wght@0,300;0,500;1,400&family=Dancing+Script&family=Jost:wght@400;600&family=Marck+Script&family=Open+Sans&family=Playfair+Display:ital@1&family=Roboto:wght@100;300;400;500&family=Yellowtail&display=swap');
$font: 'Roboto', sans-serif;
$fonttext: 'Open Sans', sans-serif;
$fontfantasy: 'Yellowtail', cursive;
$colordark:#274C5B;
$colorlight:#7EB693;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1 {
    font-family: $font;
    font-size: 70px;
    color: $colordark;
    
}
h2 {
    font-family:  $font;
    font-size: 50px;
    color: $colordark;
}
h3 {
    font-family: $fontfantasy;
    font-size: 36px;
    color: $colorlight;
}
h4 {
    font-family: $font;
    font-size: 25px;
    color: $colordark;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 69px 162px 69px 162px;
}
.logo {
    font-family: $font;
    font-size: 38px;
    font-weight: bolder;
    color: $colordark;
    display: flex;
    gap: 1rem;
}
.nav {
    display: flex;
    gap: 25px;
    padding-left: 170px;
}
.nav a {
    text-decoration: none; 
    color: $colordark;
    font-family:  $font;
    font-size: 20px;
    font-weight: bolder;
}
.search {
    padding-left: 150px;
}
.banner {
    background-color:#F1EFF0;
    background-image: url(/style/bannerback.png);
    background-size: 87vw;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: 1fr;
}
  .slogan {
width: 800px;
display: grid;
grid-column: 1/2;
grid-template-rows: repeat (3, 1fr);
    align-content: center;
    padding-left: 260px;
    
}
.bannerpic {
    display: grid;
grid-column: 2/3;
}

.knop {
    padding-top: 23px;
}

.centralpics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 150px;
}
.mission {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: 1fr;
    background-color: #F9F8F8;
    margin-top: 190px;
     }
    .description {
        width: 705px;
        display: grid;
        grid-column: 2/3;
   grid-template-rows: repeat (3, 1fr);
    align-content: center;
    gap: 15px;
   }
   .text {
    font-family: $fonttext;
    font-size: 18px;
    display: flex;
    padding-top: 10px;
   }
   .organicpromo {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: repeat (3, 1fr);
   }
   .promotext {
    display: grid;
    grid-column: 2/3;
    width: 444px;
   
   }
.certif {
display: grid;
grid-template-columns: 120px 1fr;
grid-template-rows: repeat (3, 1fr);
}